
    <div class="edge-header warning-color-dark lighten-1"></div>
          <div class="login-wrap">
              <div class="login-center">
                  <div class="login-box">
                    <!--Form with header-->
                    <div class="card">
                        <div class="card-block">
                            <div class="card-block-inner">
                                <!--Header-->
                                <div class="form-header">
                                    <h3 class="text-md-center text-xs-center"><i class="fa fa-lock orange-text"></i> Change Password:</h3>
                                </div>

                                <!--Body-->
                                <form #frmResetPassword='ngForm' novalidate >    
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix orange-text font-26"></i>
                                        <input type="password" id="form4" class="form-control" [(ngModel)]='userInfo.Password' name='Password' 
                                               required #currentpassword='ngModel' />
                                        <label for="form2">Current Password</label>
                                        <div class="error-msg" *ngIf='currentpassword.errors && (currentpassword.dirty || currentpassword.touched)'>Required.</div>
                                    </div>

                                    <div class="md-form">
                                        <i class="fa fa-lock prefix orange-text"></i>
                                        <input type="password" id="form4" class="form-control" [(ngModel)]='userInfo.NewPassword' name='NewPassword' 
                                               required #newpassword='ngModel' />
                                        <label for="form4">New password</label>
                                        <div class="error-msg" *ngIf='newpassword.errors && (newpassword.dirty || newpassword.touched)'>Required.</div>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-lock prefix orange-text"></i>
                                        <input type="password" id="form4" class="form-control" [(ngModel)]='userInfo.ConfirmPassword' name='ConfirmPassword' 
                                              required #confirmpassword='ngModel'/>
                                        <label for="form4">Confirm password</label>
                                        
                                        <div class="error-msg" *ngIf='userInfo.NewPassword != userInfo.ConfirmPassword'>Missmatch</div>
                                    </div>
                                    <div class="md-form" style="text-align: center">
                                        <span style="color: red; font-size: small">{{resetPasswordError}}</span>
                                    </div> 
           
                                    <div class="text-xs-center">
                                        <button class="btn btn-warning waves-effect waves-light" [disabled]='!frmResetPassword.valid' (click)='resetPassword(frmResetPassword.value)'>Reset Password</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!--/Form with header-->  
                </div>    

            </div>
        </div>